{% load missiontime %}

<div class="person" id="{{ person.short_name|slugify }}">
  <h3>
    <img src="{{ person.photo }}" alt=""
         width="190" height="205">
    {{ person.name }}
  </h3>

  <p>
    {{ person.bio }}
  </p>
  
  <h4>{{ person.short_name }} in numbers and words</h4>
  
  {% if person.stats %}
  <ul class="stats">
  {% for value, text in person.stats %}
    <li{% if not forloop.first %} class="secondary{% cycle "" " alt" %}"{% endif %}><em>{{ value }}</em> {{ text }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  
  <div class="quote">
    <blockquote>
      {% for speaker, line in person.quotable_log_line.lines %}
      <p>
        {{ line }}
      </p>
      {% endfor %}
    </blockquote>
    <cite>
      <a href="{% selection_url person.quotable_log_line.timestamp %}">See this quote <span>by {{ person.short_name }}</span> in the transcript</a>
    </cite>
  </div>
</div>
