{% load missiontime %}

<div class="person" id="jim-lovell">
  <h3>
    <img src="{{ person.photo }}" alt=""
         width="190" height="205">
    {{ person.name }}
  </h3>

  <p>
    {{ person.bio }}
  </p>
  
  <h4>{{ person.short_name }} in numbers and words</h4>
  
  <ul class="stats">
    <li><em>{{ person.hours_in_space }}</em> hours in space</li>
    <li class="secondary"><em>28</em> years of American Naval Service</li>
    <li class="secondary alt"><em>{{ person.honours }}</em> medals, awards, and honours</li>
  </ul>
  
  <div class="quote">
    <blockquote>
      {% for speaker, line in person.quotable_log_line.lines %}
      <p>
        {{ line }}
      </p>
      {% endfor %}
    </blockquote>
    <cite>
      <a href="{% selection_url person.quotable_log_line.timestamp %}">See this quote <span>by {{ person.short_name }}</span> in the transcript</a>
    </cite>
  </div>
</div>
