{% load missiontime %}
{% load linkify %}

<div class="person" id="{{ person.slug }}">
  <h3>
    {% if person.photo %}
      <img src="{{ MISSIONS_STATIC_URL }}{{ mission.name }}/images/people/{{ person.photo }}" alt=""
         width="{{ person.photo_width }}" height="{{ person.photo_height }}">
    {% endif %}
    <em{% if person.name_lang %} lang="{{ person.name_lang }}"{% endif %}>{{ person.name }}</em>
    {{ person.mission_position }}
  </h3>

  {% if person.stats %}
  <ul class="stats">
  {% for value, text in person.stats %}
    <li{% if not forloop.first %} class="secondary{% cycle "" " alt" %}"{% endif %}><em>{{ value }}</em> {{ text }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  <p>
    {{ person.bio|default:"" }}
  </p>
  
  {% if person.quotable_log_line %}
  <h4><span{% if person.short_name_lang %} lang="{{ person.short_name_lang }}"{% endif %}>{{ person.short_name }}</span> in words</h4>
  
  {% if person.quotable_log_line %}
  <div class="quote">
    <blockquote>
      {% for speaker, line in person.quotable_log_line.lines %}
      <p>
        {{ line|linkify }}
      </p>
      {% endfor %}
    </blockquote>
    <cite>
      <a href="{% selection_url person.quotable_log_line.timestamp %}">See this quote <span>by <span{% if person.short_name_lang %} lang="{{ person.short_name_lang }}"{% endif %}>{{ person.short_name }}</span></span> in the transcript</a>
    </cite>
  </div>
  {% endif %}
  {% endif %}
</div>
