{% extends "base.html" %}

{% block title %}{% if role %}{{ role|title }} {% endif %}People{% endblock %}

{% block content-class %}people{% endblock %}

{% block content %}
<h1>People</h1>

{% for group in people %}
{% if not forloop.last %}
<div class="group">
{% endif %}
  <h2>{{ group.name }}</h2>
  {% for person in group.members %}
    {% ifequal group.view "full" %}
      {% include "people/_person.html" %}
    {% else %}
      {% include "people/_simple_person.html" %}
    {% endifequal %}
  {% endfor %}
{% if not forloop.last %}
</div>
{% endif %}
{% endfor %}

{% if more_people %}
<div class="more">
  <a href="{% url people "mission-ops" %}">View full Mission Control Team</a>
</div>
{% endif %}

{% endblock %}