{% extends "base.html" %}

{% block title %}People{% endblock %}

{% block content-class %}people{% endblock %}

{% block content %}
<h1>People</h1>

{% for group in people %}
{% if not forloop.last %}
<div class="group">
{% endif %}
  <h2>{{ group.name }}</h2>
  {% for person in group.members %}
    {% if group.expanded_view %}
      {% include "people/_person.html" %}
    {% else %}
      {% include "people/_simple_person.html" %}
    {% endif %}
  {% endfor %}
{% if not forloop.last %}
</div>
{% endif %}
{% endfor %}

<div class="more">
  <a href="#TODO">View full Mission Control Team</a>
</div>

{% endblock %}