/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*-

    Sets up the basic page layout, and styles any raw elements.

*/

body {
    font-family:            "Helvetica Neue",
                            "Arial",
                            sans-serif;
}
.wrapper {
    width:                  940px;
    margin:                 0 auto;
}

a {
    color:                  #00abd7;
    text-decoration:        none;
}
a:hover,
a:focus,
a:active {
    text-decoration:        underline;
}

#content.with-highlight {
    background:             #999;
}

#footer {
    background:             #232323;
    border-top:             1px solid #424242;
    font-size:              13px;
    overflow:               hidden;
    zoom:                   1;
}
#attribution {
    padding:                10px 0 14px;
    float:                  left;
    font-weight:            bold;
}
#cta {
    background:             transparent
                            url(/assets/img/ft-cta.png)
                            no-repeat
                            left center;
    padding:                14px 0 0 27px;
}
#cta a {
    font-weight:            bold;
}
#footer .credits {
    padding:                10px 0 14px;
    float:                  left;
    margin-left:            40px;
}

/*! verbatim */
@font-face {
    font-family:            'League Gothic';
    src: url('/assets/fonts/league-gothic.eot');
    src: local('://'),
         url('/assets/fonts/league-gothic.svg#league_gothic') format('svg'),
         url('fonts/league-gothic.woff') format('woff'),
         url('fonts/league-gothic.otf') format('opentype');
}
.league-gothic {
    font-family:            'League Gothic';
    line-height:            140%;
    letter-spacing:         1px;
    text-rendering:         optimizeLegibility;
}
/* -- */
