/*! verbatim */
.content-page {
    background:             #000
                            url( ../img/home-bg.jpg )
                            no-repeat
                            top center;
    padding:                50px 0 100px;
}
.about {
    background:             url( ../img/about-bg.jpg )
                            no-repeat
                            top left;
}
.press {
    background:             url( ../img/press-bg.jpg )
                            no-repeat
                            0% -5px;
}

.get-involved {
    background-image:       url( ../img/get-involved-bg.jpg );
}

/* -- */
.content-page .wrapper {
    @include                easy-contain;
}

.content-page h1,
.content-page .rubric {
    font-size:              40px;
}
.content-page h1 {
    font-weight:            bold;
}
.content-page .rubric {
    color:                  #999;
}

.content-page h2 {
    font-size:              32px;
    font-weight:            bold;
    line-height:            48px;
    margin:                 0 0 24px 0;
}
.content-page h3 {
    font-weight:            bold;
    margin:                 0;
    line-height:            24px;
}

.content-page .content {
/*    margin-right:           320px;*/
}
.content-page p,
.content-page pre {
    margin:                 0 0 24px;
}
.content-page pre {
    line-height:            24px;
    font-size:              16px;
}
.content-page.press .content blockquote p {
    margin:                 0 0 8px 0;
    font-family:            "Georgia",
                            serif;
    quotes:                 '“' '”';
    font-size:              24px;
    line-height:            32px;
}
.content-page.press .content blockquote p:before {
    content:                open-quote;
}
.content-page.press .content blockquote p:after {
    content:                close-quote;
}
.content-page.get-involved .secondary-content {
    margin-top:             78px;
}
.content-page.get-involved .secondary-content p {
    margin-top:             4px;
    padding:                0 20px;
}
.content-page.get-involved a.call-to-action {
    border:                 1px solid transparent;
    border-radius:          3px;
    color:                  #fff;
    font-family:            'League Gothic',
                            'Helvetica Neue Condensed',
                            'Arial',
                            sans-serif;
    font-size:              23px;
    position:               relative;
    text-transform:         uppercase;
    top:                    2px;
    padding:                3px 22px;
    width:                  140px;
    // HACK: webkit mirrors border-top-color to border-bottom-color if
    // transparent or none (WTF)
    border-top-color:       #34d5fc;
    border-bottom-color:    #037b98;
    text-shadow:            0 1px 0 #000;
    background:             #037a97;
    background:             -webkit-gradient(
                                linear,
                                left top,
                                left bottom,
                                from(#00aad3),
                                to(#037a97)
                            );
    background:             -moz-linear-gradient(top,#00aad3,#037a97);
    *filter: progid:DXImageTransform.Microsoft.gradient(
                                startColorstr='#00aad3',
                                endColorstr='#037a97'
                            );

    &:hover,
    &:focus {
        background:             #00aad3;
        text-decoration:        none;
    }
}
.content-page em {
    font-style:             italic;
}
.content-page .primary-content {
    float:                  left;
    width:                  620px;
    padding-right:          20px;
}
.content-page .secondary-content {
    float:                  left;
    width:                  300px;
    color:                  #888;
}
.content-page .secondary-content h1 {
    font-size:              32px;
    font-weight:            bold;
    margin:                 0 0 24px 0;
    line-height:            48px;
}
.content-page .secondary-content h2 {
    font-size:              16px;
    font-weight:            bold;
    margin:                 24px 0 0 0;
}
.content-page .reading-list {
    margin-top:             12px;
}
.content-page .reading-list li {
    margin-bottom:          16px;
    @include                easy-contain;
}
.content-page .reading-list li img {
    float:                  left;
    margin-right:           12px;
    border:                 1px solid #333;
    padding:                2px;
}
.content-page .reading-list li cite {
    font-weight:            bold;
}
.content-page .reading-list li a {
    display:                block;
}
.content-page .reading-list li a.author {
    display:                inline;
}
.content-page ul.contributors {
    margin:                 0 0 24px 0;
    padding:                0;
}
.content-page ul.contributors li {
    display:                inline;
}
.content-page ul.contributors li:before {
    content:                "";
}
.content-page ul.contributors li + li:before {
    content:                ", ";
}
/*! verbatim */
.content-page .content p,
.content-page .secondary-content p,
.content-page .reading-list,
.content-page .secondary-content h2,
.content-page ul.contributors {
    text-shadow:            1px 1px 2px #000;
    line-height:            24px;
}
/* -- */
