.homepage {
    background:             #000
                            url( ../img/home-bg.jpg )
                            no-repeat
                            center -100px;
    padding:                0 0 100px;
}
.homepage h2,
.homepage h3 {
    font-weight:            bold;
}
.homepage h2 {
    font-size:              32px;
    margin:                 20px 0 0;
    padding-bottom:         10px;
    border-bottom:          1px solid #bbb;
}
.homepage h2 span {
    color:                  #676768;
    font-weight:            normal;
}
.homepage h3 {
    font-weight:            bold;
}
/*! verbatim */
.header {
    padding-top:            24px;
    padding-bottom:         40px;
    background:             #444;
    background:             rgba(0, 0, 0, 0.5);
}
/* -- */
.header .tagline {
    color:                  #808080;
    font-size:              40px;
    margin-bottom:          36px;
}
.header .tagline em {
    color:                  #fff;
    font-weight:            bold;
}
.header .stl {
    border-bottom:          none;
    display:                inline;
}
.header #homepage-quote {
    display:                inline;
    font-family:            "Georgia",
                            serif;
    float:                  right;
    margin-top:             -4px;
    font-size:              20px;
}
.header #homepage-quote a {
    color:                  white;
}
.header #homepage-quote q {
    quotes:                 "“" "”";
    font-style:             italic;
}
.header #homepage-quote q:before {
    content:                open-quote;
}
.header #homepage-quote q:after {
    content:                close-quote;
}

.homepage ul {
    -cp-contain:            easy;
    margin:                 0 -10px;
}
.homepage li {
    float:                  left;
    line-height:            21px;
    padding:                0 10px;
    width:                  300px;
}

/*! verbatim */
.homepage .featured {
    text-shadow:            1px 1px 2px #000;
}
/* -- */
.homepage .featured li {
    margin-bottom:          20px;
}
.homepage .featured li h3 {
    margin:                 15px 0 15px;
}
.homepage .featured li:nth-child( 3n+1 ) {
    clear:                  left;
}
.homepage .featured img {
    display:                block;
    margin-bottom:          12px;
}
.homepage .all li {
    border-bottom:          1px solid transparent;
    padding:                0 10px;
    margin-top:             20px;
}
.homepage .all li h3 {
    position:               relative;
}
.homepage .all li img {
    width:                  40px;
    position:               absolute;
    left:                   0;
}
.homepage .all li span,
.homepage .all li p {
    margin-left:            48px;
}
.homepage .all li:nth-child( 3n ) {
    padding-right:           0;
}
.homepage .all li:nth-child( 3n+1 ) {
    margin-left:            10px;
    padding-left:           0;
    clear:                  left;
}
