.homepage {
    background:             #000
                            url( ../img/home-bg.jpg )
                            no-repeat
                            top center;
    padding:                50px 0 200px;
}
.homepage h2,
.homepage h3 {
    font-weight:            bold;
}
.homepage h2 {
    font-size:              32px;
    margin:                 70px 0 0;
}
.homepage h2 span {
    color:                  #676768;
    font-weight:            normal;
}
.homepage h3 {
    font-weight:            bold;
    margin:                 23px 0 15px;
}
.homepage h3 a {
    display:                block;
}

.homepage .tagline {
    color:                  #808080;
    font-size:              40px;
}
.homepage .tagline em {
    color:                  #fff;
    font-weight:            bold;
}

.homepage ul {
    -cp-contain:            easy;
    margin:                 0 -10px;
}
.homepage li {
    float:                  left;
    line-height:            21px;
    padding:                0 10px;
    width:                  300px;
}

/*! verbatim */
.homepage .featured {
    text-shadow:            1px 1px 2px #000;
}
/* -- */
.homepage .featured li {
    margin-bottom:          20px;
}
.homepage .featured li h3 {
    margin:                 15px 0 15px;
}
.homepage .featured li:nth-child( 3n+1 ) {
    clear:                  left;
}
.homepage .featured img {
    display:                block;
    margin-bottom:          12px;
}
.homepage .all li {
    border-bottom:          1px solid transparent;
    padding:                20px 10px;
}
.homepage .all li:nth-child( 3n ) {
    padding-right:           0;
}
.homepage .all li:nth-child( 3n+1 ) {
    margin-left:            10px;
    padding-left:           0;
    clear:                  left;
}
/*
.homepage .all li:nth-last-child( n+4 ) {
    border-bottom-color:    #3c3b3d;
}
*/
