/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*-

    Sets up the basic page layout, and styles any raw elements.

*/

body {
    font-family:            "Helvetica Neue",
                            "Arial",
                            sans-serif;
}
.wrapper {
    width:                  940px;
    margin:                 0 auto;
}

#crest.blue {
    background:             #5d86b2;
}

a {
    color:                  #00abd7;
    text-decoration:        none;
}
a:hover,
a:focus,
a:active {
    text-decoration:        underline;
}
sub {
    vertical-align:         sub;
}
sup {
    vertical-align:         super;
}

/* Fake input[placeholder] for old browsers */
input.placeholder {
    color:                  #999;
}

/* Sunrise pages */
.glossary,
.about,
.search,
.people,
.phase {
    background:             #000
                            url( /assets/img/base/sunrise.jpg )
                            no-repeat
                            bottom center;
    color:                  #fff;
    padding-bottom:         100px;
}

/* Blue button */
a.big-blue-button-thing,
.search input[type=submit] {
    background:             #037a97;
    border:                 1px solid transparent;
    -cp-border-radius:      3px;
    color:                  #fff;
    font-family:            'League Gothic', sans-serif;
    font-size:              23px;
    position:               relative;
    text-transform:         uppercase;
    top:                    2px;
    padding:                3px 22px;
    width:                  140px;
}

/*! verbatim */
a.big-blue-button-thing,
.search input[type=submit] {
    // HACK: webkit mirrors border-top-color to border-bottom-color if
    // transparent or none (WTF)
    border-top-color:       #34d5fc;
    border-bottom-color:    #037b98;
    text-shadow:            0 1px 0 #000;
    background:             -webkit-gradient(
                                linear,
                                left top,
                                left bottom,
                                from(#00aad3),
                                to(#037a97)
                            );
    background:             -moz-linear-gradient(top,#00aad3,#037a97);
    *filter: progid:DXImageTransform.Microsoft.gradient(
                                startColorstr='#00aad3',
                                endColorstr='#037a97'
                            );
}
@font-face {
    font-family:            'League Gothic';
    src: url('/assets/fonts/league-gothic.eot');
    src: local('://'),
         url('/assets/fonts/league-gothic.svg#league_gothic') format('svg'),
         url('/assets/fonts/league-gothic.woff') format('woff'),
         url('/assets/fonts/league-gothic.otf') format('opentype');
}
.league-gothic {
    font-family:            'League Gothic';
    line-height:            140%;
    letter-spacing:         1px;
    text-rendering:         optimizeLegibility;
}
/* -- */
