/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*- */

#content.about .wrapper {
    padding-left:           320px;
    width:                  620px; // 940 - 320
    
    padding-top:            40px;
    padding-bottom:         80px;
    position:               relative;
}

#coverpage {
    position:               absolute;
    top:                    40px;
    left:                   0;
    width:                  280px;
    text-align:             center;
}
#coverpage img {
    border:                 5px solid #999;
    margin-bottom:          1.5em;
    display:                block;
}
#coverpage a {
    text-decoration:        none;
    font-size:              12px;
}
#coverpage a:hover,
#coverpage a:focus {
    text-decoration:        underline;
}

#content.about h1 {
    font-size:              2em;
    font-weight:            bold;
    line-height:            1.1;
    margin-bottom:          1em;
}
#content.about p {
    margin:                 1em 0;
    line-height:            1.4;
}
#content.about h2 {
    font-weight:            bold;
    font-size:              1.5em;
    margin:                 2em 0 1em;
}
#content.about h3 {
    font-weight:            bold;
    font-size:              1.2em;
}

#how-this-was-made {
    background-color:       #232323;
    border-top:             1px solid #424242;
    font-size:              0.875em;
    margin-left:            -320px;
    width:                  940px;
    padding-bottom:         20px;
    margin-top:             60px;
}

#how-this-was-made #team,
#how-this-was-made #colophon {
    float:                  left;
    width:                  420px;
    padding:                10px 20px;
}
#how-this-was-made #team {
    margin-right:           20px;
}

#content.about #how-this-was-made h2 {
    font-size:              2em;
    font-weight:            bold;
    border-bottom:          1px solid #333;
    margin:                 0.5em 0 1em 0;
    padding-bottom:         0.5em;
}

#how-this-was-made h3 {
    font-weight:            bold;
    margin:                 1.5em 0 0.25em;
}

#how-this-was-made h3:after {
    content:                ":";
}

#how-this-was-made #team li,
#how-this-was-made #software-used li {
    display:                inline;
    line-height:            1.5;
}

// Chrome 10 has a bug that makes the + operator trigger when
// two elements don't share a parent. It may be more specific
// than that; in our case the parent elements are of the same
// type, and except for the different parent the two elements
// are subsequent of their type (li in this case) in the DOM.
//
// This fixes the problem, although it's a bit vile.
#how-this-was-made #team li:first-child {
    content:                none;
}

#how-this-was-made #team li + li:before,
#how-this-was-made #software-used li + li:before {
    content:                ", ";
}

#how-this-was-made p,
#how-this-was-made ul {
    margin-bottom:          12px;
}

#content.about #how-this-was-made p {
    margin:                 0;
}

#how-this-was-made {
    -cp-contain:            easy;
}

#how-this-was-made #colophon li {
    line-height:            1.5;
}
