#content.homepage {
    background-color:           black;
    background-image:           url(/assets/img/missions/a13/homepage/background.jpg);
    background-position:        top center;
    background-repeat:          no-repeat;
    padding-top:                40px;
    -cp-contain:                easy;
}

#content.homepage h1, #content.homepage h2 {
    font-family:               'League Gothic',
                               'Helvetica Neue Condensed',
                               'Arial',
                               sans-serif;
    text-transform:            uppercase;
}

#content.homepage h1 {
    font-size:                 4em;
    line-height:               .9em;
    margin-bottom:             4px;
    float:                     left;
    text-align:                center;
    width:                     140px; 
   
}


#content.homepage h1 em {
    font-size:                 3.5em;
    display:                   block;
    line-height:               1em;
    margin-bottom:             0px;
    color:                     #f8b334;
}

#content.homepage h2 {
    font-size:                 2em;
    line-height:               .9em;
    width:                     10px;
    height:                    400px;
    margin-right:              150px;
    float:                     left;
}

/*! verbatim */
#content.homepage blockquote {
    margin-left:            160px;
    margin-bottom:          10px;
    height:                 280px;
    width:                  700px;
    background-color:       rgba(0,0,0,0.4);
    text-align:             center;
}
/* -- */

#content.homepage blockquote p:before, #content.homepage blockquote p:after {
    content:                '"';
}

#content.homepage blockquote p {
    font-family:            'Georgia',
                            serif;
    font-size:              2em;
    margin-bottom:          1em;
    padding:                50px 20px 0 20px;
}

#content.homepage blockquote div#quotenav {
    margin-bottom:          40px;
    text-align:             center;
    float:                  bottom;
}
/*! verbatim */
#content.homepage blockquote a {
    font-family:            sans-serif;
    color:                  #009BC1;
    background-color:       rgba(0,0,128,0.4);   
    padding:                5px;
    font-weight:            bold;
    vertical-align:         bottom;
    margin:                 10px;
    -webkit-border-radius:      4px;
    -moz-border-radius:         4px;
    border-radius:              4px;
}
/* -- */

#content.homepage dl {
    float:                  left;
    margin-right:           20px;
    margin-bottom:          20px;
}

#content.homepage dt {    
    font-family:            'League Gothic',
                            'Helvetica Neue Condensed',
                            'Arial',
                            sans-serif;
    font-size:              1.5em;                            
    font-weight:            bold;
    color:                  #009BC1;
    padding:                5px;
    text-transform:         uppercase;
    text-align:             center;
}
