/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*- */

body.homepage {
    background-color:       black;
    background-position:    top center;
    background-repeat:      no-repeat;
}

#content.homepage {
    padding-top:            40px;
    -cp-contain:            easy;
}

#content.homepage h1, #content.homepage h2 {
    font-family:            'League Gothic',
                            'Helvetica Neue Condensed',
                            'Arial',
                            sans-serif;
    text-transform:         uppercase;
}

#content.homepage h1 {
    font-size:              3em;
    line-height:            .9em;
    margin-bottom:          4px;
    margin-right:           20px;
    float:                  left;
    text-align:             center;
    width:                  140px;
}

#content.homepage h1 em {
    font-size:              3.5em;
    display:                block;
    line-height:            1em;
    margin-bottom:          0px;
    color:                  #f8b334;
}

#content.homepage h2 {
    clear:                  both;
    margin-left:            80px;
    font-size:              2em;
    line-height:            .9em;
    width:                  10px;
    margin-right:           70px;
    float:                  left;
}

#content.homepage .crest {
    -cp-contain:            easy;
    margin-bottom:          20px;
}

#homepage-quote {
    float:                  left;
    width:                  660px;
    padding:                30px 20px 0;
}
#homepage-quote blockquote {
    min-height:             110px;
    font-family:            "Georgia",
                            serif;
    font-size:              2em;
    text-align:             center;
    padding-bottom:         30px;
}
#homepage-quote p:before, {
    content:                "“";
}

#homepage-quote p:after, {
    content:                "”";
}
#homepage-quote i {
    display:                block;
    text-align:             center;
    padding:                10px 0;
}
#homepage-quote span {
    position:               absolute;
    left:                   -999em;
}
#homepage-quote i a {
    -cp-border-radius:      5px;
    padding:                7px 10px 7px 30px;
    margin:                 0 10px;
    font-size:              12px;
    line-height:            1.5;
    font-weight:            bold;
}

#content.homepage ol {
    overflow:               auto;       // TODO: fix to easyclearing
    float:                  right;
    width:                  720px;
    margin-right:           60px;
}

#content.homepage li {
    color:                  #009BC1;
    float:                  left;
    font-family:            'League Gothic',
                            'Helvetica Neue Condensed',
                            'Arial',
                            sans-serif;
    font-size:              1.5em;
    margin-right:           20px;
    margin-bottom:          20px;
    text-transform:         uppercase;
    text-align:             center;
}

#content.homepage li a,
#content.homepage li img {
    display:                block;
    margin-bottom:          5px;
}

/*! verbatim */
#homepage-quote {
    background-color:       rgba( 0, 0, 0, 0.3 );
}
#content.homepage blockquote,
#content.homepage li {
    text-shadow:            1px 1px 2px #000;
}
#homepage-quote i a {
    text-shadow:            1px 1px 1px rgba( 0, 0, 0, 0.3 );
    border-top:             1px solid rgba( 0, 171, 215, 0.2 );
}
#homepage-quote i a.transcript {
    background:             rgba( 0, 48, 61, 0.5 )
                            url(../img/base/transcript-icon.png)
                            no-repeat
                            10px center;
}
#homepage-quote i a.refresh {
    background:             rgba( 0, 48, 61, 0.5 )
                            url(../img/base/refresh-icon.png)
                            no-repeat
                            10px center;
}
/* -- */
