.search .wrapper {
    background:             #232323;
    border-top:             1px solid #2b2b2b;
    margin:                 20px auto 30px;
    padding:                80px 160px 50px;
    position:               relative;
    width:                  620px;
    -cp-contain:            easy;
}

.search input[type=text] {
    background:             #333;
    border:                 1px solid #999;
    color:                  #ccc;
    font-size:              18px;
    margin-right:           16px;
    padding:                6px 12px;
    width:                  434px;
}

.search form {
    margin-bottom:          30px;
}

.search h1 {
    font-weight:            bold;
    font-size:              32px;
    margin-bottom:          32px;
}
.search h1 span {
    left:                   20px;
    position:               absolute;
    top:                    13px;
}

#results h2 {
    font-weight:            bold;
    font-size:              18px;
    margin-bottom:          .5em;
}
#results h2 img {
    float:                  left;
    margin-right:           10px;
}

#results blockquote p:before, #results blockquote p:after {
    content:                '"';
}

#results blockquote {
    font-family:            Georgia, serif;
    font-size:              13px;
    font-style:             italic;
    line-height:            18px;
    margin-bottom:          5px;
}

#results dl {
    font-size:              13px;
    font-weight:            bold;
    line-height:            18px;
}

#results li {
    clear:                  left;
    margin-bottom:          50px;
}

#results dt, 
#results dd {
    float:                  left;
    margin-right:           5px;
    color:                  gray;
}

#results mark {
    background-color:       #999;
    color:                  #000;
}

.pagination {
    float:                  right;
    font-size:              13px;
}
.pagination a,
.pagination ol,
.pagination li {
    float:                  left;
}
.pagination a {
    margin:                 0 5px;
}

.error .speaker {
    float:                  left;
}
.error blockquote {
    font:                   18px Georgia, serif;
    line-height:            28px;
    margin:                 23px 0 20px 60px;
    padding:                0 40px;
    position:               relative;
}
.error blockquote:before,
.error blockquote:after {
    font-size:              72px;
    height:                 28px;
    margin-top:             0.11em;
    position:               absolute;
}
.error blockquote:before {
    content:                "“";
    left:                   0;
    top:                    0;
}
.error blockquote:after {
    content:                "”";
    bottom:                 -17px;
    right:                  0;
}
.error .speaker {
    -cp-contain:            easy;
    margin:                 15px 0 20px;
}
.error .speaker img {
/*    float:                  left;*/
/*    margin-right:           10px;*/
}