._*
*~
*.pyc
.DS_Store
/website/static/css/screen.css
/global/static/css/screen.css
/missions/*/images/stats
/missions/*/images/original
/xappydb
/artemis_assets
ENV
.*.swp
.sass-cache

design
pending_missions
