._*
*~
*.pyc
.DS_Store
/website/static/css/*.css
/global/static/css/*.css
/website/static/css/screen.css.map
/global/static/css/screen.css.map
/website/local_settings.py
/global/local_settings.py
/website/collected
/global/collected
/missions/*/images/stats
/missions/*/images/original
/missions/*/images/media
/dump.rdb
/xappydb
/artemis_assets
ENV
.*.swp
.sass-cache

design
pending_missions
