{% extends "base.html" %}
{% load linkify %}

{% block content-class %}glossary{% endblock %}
{% block body-class %}glossary-section{% endblock %}
{% block title %}Glossary{% endblock %}

{% block content %}
<h1>Glossary</h1>

<p>{{ mission.copy.glossary_introduction }}</p>

<dl>
  {% for term in terms %}
  <dt id="{{ term.slug }}"{% if term.abbr_lang %} lang="{{ term.abbr_lang }}"{% endif %}>{{ term.abbr }}</dt>
  <dd{% if term.description_lang %} lang="{{ term.description_lang }}"{% endif %}>{{ term.description }}</dd>
  {% if term.extended_description %}
    <dd class='extended'{% if term.extended_description_lang %} lang="{{ term.extended_description_lang }}"{% endif %}>{% linked term.extended_description %}</dd>
  {% endif %}
  {% comment %}
    Don't show times mentioned or links yet.
    ({{ term.times_mentioned }})
    {% if term.links %}
    <ul>
      {% for link in term.links %}
      <li><a href='{{ link.url }}'>{{link.caption}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endcomment %}
  {% endfor %}
</dl>

{% endblock %}
