{% extends "base.html" %}
{% block content-class %}glossary{% endblock %}
{% block title %}Glossary{% endblock %}

{% block content %}
<h1>Glossary</h1>

<p>{{ mission.copy.glossary_introduction }}</p>

<dl>
  {% for term in terms %}
  <dt id="{{ term.abbr|slugify }}">{{ term.abbr }}</dt>
  <dd>
    {{ term.description }}
    {% comment %}
    Don't show times mentioned or links yet.
    ({{ term.times_mentioned }})
    {% if term.links %}
    <ul>
      {% for link in term.links %}
      <li><a href='{{ link.url }}'>{{link.caption}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endcomment %}
  </dd>
  {% endfor %}
</dl>

{% endblock %}
