<div id='masthead'>
  <div class='wrapper'>
      <h1 class='league-gothic'>Mission <em>{{ mission.title }}</em></h1>
    <nav>
      <ul>
        <li><a href='{% url view_page %}'>Transcripts</a></li>
        <li><a href='{% url phases %}'>Phases</a></li>
        <li><a href='{% url people %}'>People</a></li>
        <li><a href='#TODO'>Glossary</a></li>
        <li><a href='#TODO'>About</a></li>
      </ul>
      <form method="get" action="/search/">
        <input type="text" name="q" value="{{ q|escape }}" id="q">
      </form>
    </nav>
  </div>
</div>
