<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}SET THE TITLE{% endblock %}</title>
  <link rel="stylesheet" href="/assets/css/screen.css" media="screen">
</head>
<body>
{% include "_base/masthead.html" %}

<div id='content' class='{% block content-class %}{% endblock %}'><div class="wrapper">
{% block content %}{% endblock %}
</div></div>

<div id='footer'><div class="wrapper">
  <p id='attribution'>
    A <a href="http://devfort.com/">/dev/fort</a> project.
  </p>
  <p id="cta">
    With your help we can continue to digitise the <acronym title="National
    Aeronautics and Space Administration">NASA</acronym> transcripts. <a
    href="#TODO">Find out how to get involved.</a>
  </p>
</div></div>

</body>
</html>
