<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}SET THE TITLE{% endblock %}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" media="screen">
  <link rel="shortcut icon" href="{{ STATIC_URL}}img/favicon.ico">
  <meta name="description" content="Spacelog: a site for experiencing the Apollo, Mercury, and Gemini space missions through radio transcripts and photography.">
  <meta name="keywords" content="spacelog,space,spaceflight,spacecraft,orbit,apollo,mercury,gemini,mission,moon,radio,transcript,photographs,photography">
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19974863-3']);
  _gaq.push(['_trackPageview']);
   </script>
  
</head>
<body>
{% include "_base/masthead.html" %}

<div id='content' class='{% block content-class %}{% endblock %}'><div class="wrapper">
{% block content %}{% endblock %}
</div></div>

<div id='footer'><div class="wrapper">
  <p id="cta">
    With your help we can continue to digitise the <acronym title="National
    Aeronautics and Space Administration">NASA</acronym> transcripts.
  </p>
  <ul id="cta-links">
    <li><a href="https://github.com/Spacelog/Spacelog">Get involved</a></li>
    <li><a href="http://twitter.com/spacelogdotcom">Follow us on Twitter</a></li>
  </ul>
  <p id='attribution'>
    A <a href="http://devfort.com/">/dev/fort</a> project.
  </p>
  <p class='credits'>
    Background image is <a href='http://www.flickr.com/photos/28634332@N05/4703771206/'>Sunset over the Indian Ocean</a> by <a href='http://www.nasa.gov/centers/marshall/home/index.html'>NASA's <abbr title='Marshall Space Flight Center'>MSFC</abbr></a> (CC By-NC).
  </p>
</div></div>
<script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
