<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:dbo="http://dbpedia.org/ontology/abstract"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:space="http://spacelog.org/ns/"
      lang="en-us">
<head>
  <title>{% block title %}SET THE TITLE{% endblock %}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" media="screen">
  <link rel="shortcut icon" href="{{ STATIC_URL}}img/favicon.ico">
  <meta name="description" content="Spacelog: a site for experiencing early space missions through radio transcripts and photography.">
  <meta name="keywords" content="spacelog,space,spaceflight,spacecraft,orbit,apollo,mercury,gemini,mission,moon,radio,transcript,photographs,photography">
  <meta property="og:title dc:title" content="Spacelog">
  <meta property="og:type" content="website">
  <meta property="og:url foaf:homepage" content="http://spacelog.org/">
  <meta property="og:image" content="{{ FIXED_STATIC_URL }}img/dfv-badge.png">
  <link property="foaf:depiction" href="{{ FIXED_STATIC_URL }}img/dfv-badge.png">
  {# see comment in website/templates/base.html for explanation of repeated RDFa. #}
  <meta property="og:site_name" content="Spacelog">
  <!-- <meta property="og:description"
        content="Spacelog: a site for experiencing early space missions through radio transcripts and photography."> -->
  <meta property="fb:admins" content="36916129">
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19974863-3']);
  _gaq.push(['_trackPageview']);
   </script>
  
</head>
<body>
{% include "_base/masthead.html" %}

<div id='content' class='{% block content-class %}{% endblock %}'>{% block header %}{% endblock %}<div class="wrapper">
{% block content %}
{% block abstract %}{% endblock %}
<div class='primary-content'>{% block primary-content %}{% endblock %}</div>
<div class='secondary-content'>
  <h1>Suggested reading</h1>
  <p>We've pulled together some books we've found interesting or helpful; they all use our Amazon affiliate code to help pay for hosting Spacelog.</p>
  {% for list in READING_LISTS %}
    <h2>{{ list.0 }}</h2>
    <ul class='reading-list'>
    {% for book in list.1 %}
    <li><img src='{{ book.3 }}' alt=''><a href='{{ book.2 }}'><cite>{{ book.0 }}</cite></a>{% if book.1 %} by {{ book.1 }}{% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
</div>
{% endblock %}
</div></div>

<div id='footer'><div class="wrapper">
  <p id="cta">
    With your help we can continue to digitise the <acronym title="National
    Aeronautics and Space Administration">NASA</acronym> transcripts.
  </p>
  <ul id="cta-links">
    <li><a href="/get-involved/">Get involved</a></li>
    <li><a href="http://twitter.com/spacelogdotorg">Follow us on Twitter</a></li>
  </ul>
  <p id='attribution'>
    A <a href="http://devfort.com/">/dev/fort</a> project.
  </p>
  <p class='credits'>
    Background image is
    {% if page == "about" %}
      <a href='http://www.flickr.com/photos/jaako/2900449721/'>Starry Night</a> by <a href='http://www.flickr.com/photos/jaako/'>Kevin Jaako</a> (CC By-NC).
    {% endif %}
    {% if page == "press" %}
      <a href='http://earthobservatory.nasa.gov/IOTD/view.php?id=50205'>Sunset over Western South America</a> by <a href='http://earthobservatory.nasa.gov/'>NASA's Earth Observatory</a>.
    {% endif %}
    {% if page == "get-involved" %}
      <a href='http://earthobservatory.nasa.gov/IOTD/view.php?id=48340'>Auroral Rocket in Norway</a> by <a href='http://www.rocketrange.no/'>Andøya Rocket Range</a> via <a href='http://earthobservatory.nasa.gov/IOTD/view.php?id=48340'>NASA's Earth Observatory</a> (CC By-NC-ND).
    {% endif %}
    {% if not page %}
      <a href='http://www.flickr.com/photos/28634332@N05/4703771206/'>Sunset over the Indian Ocean</a> by <a href='http://www.nasa.gov/centers/marshall/home/index.html'>NASA's <abbr title='Marshall Space Flight Center'>MSFC</abbr></a> (CC By-NC).
    {% endif %}
  </p>
</div></div>
<script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% block body-js %}{% endblock %}
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</body>
</html>
