<div id="masthead-outer">
<div id='masthead'>
  <div class='wrapper'>
    {% if page %}
    <a href="/" class="sitename">Spacelog</a>
    {% else %}
    <h1>Spacelog</h1>
    {% endif %}
    
    <nav>
      <ul>
        {% if page == "about" %}
        <li><span class="current">About</span></li>
        {% else %}
        <li><a href="/about/">About</a></li>
        {% endif %}
        {% if page == "press" %}
        <li><span class="current">Press</span></li>
        {% else %}
        <li><a href="/press/">Press</a></li>
        {% endif %}
        {% if page == "get-involved" %}
        <li><span class="current">Get Involved</span></li>
        {% else %}
        <li><a href="/get-involved/">Get Involved</a></li>
        {% endif %}
      </ul>
    </nav>
    
    <a href="https://twitter.com/spacelog" class="twitter">Follow us<span> on Twitter</span> for updates</a>
    
    {% comment %}
    <nav>
      <form method="get" action="/search/">
        <input type="search" name="q" value="{{ q|escape }}" id="q"
          placeholder="Search transcript">
      </form>
    </nav>
    {% endcomment %}
  </div>
</div>
</div>