<VirtualHost *:80>
	ServerName artemis.fort
	
	Alias /assets /home/df-artemis/releases/current/global/static

	DocumentRoot /var/www

	<Directory /home/df-artemis>
		Options FollowSymLinks
		AllowOverride None
	</Directory>

	<Directory /home/df-artemis/releases/current/global/static>
		Order allow,deny
		allow from all
	</Directory>

	WSGIDaemonProcess artemis-staging-global user=df-artemis group=df-artemis processes=5 threads=10 maximum-requests=1000
	WSGIProcessGroup artemis-staging-global
	
	WSGIScriptAlias / /home/df-artemis/releases/current/global/configs/staging/global.wsgi
	<Directory /home/df-artemis/releases/current/global/configs/staging>
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog /var/log/apache2/artemis/error.log
	LogLevel warn
	CustomLog /var/log/apache2/artemis/access.log combined
</VirtualHost>
