<VirtualHost *:8080>
	ServerName spacelog.org
	
	Alias /assets /home/spacelog/assets/global

	DocumentRoot /var/www

	<Directory /home/spacelog>
		Options FollowSymLinks
                Require all granted
		AllowOverride None
	</Directory>

	<Directory /home/spacelog/assets/global>
                Require all granted
	</Directory>

        ProxyPass /assets/ !
        ProxyPass / http://localhost:8081/
        ProxyPassReverse / http://localhost:8081/
        ProxyPreserveHost On

	ErrorLog /var/log/apache2/spacelog.org/error.log
	LogLevel warn
	CustomLog /var/log/apache2/spacelog.org/access.log spacelog
</VirtualHost>

<VirtualHost *:80>
    ServerName www.spacelog.org
    RedirectMatch ^/(.*)$ http://spacelog.org/$1
</VirtualHost>
