{% extends "base.html" %}
{% load missions %}

{% block title %}Spacelog: space exploration stories from the original transcripts{% endblock %}
{% block content-class %}homepage{% endblock %}

{% block header %}
<div class="header">
  <div class='wrapper'>
    <p class="tagline">
      <em>Read the stories of early space exploration from the original 
      transcripts.</em> Now open to the public in a searchable, linkable format.
    </p>
    {% include "_base/stl.html" %}
    {% if quote %}
      <p id='homepage-quote'>
        <a href="{{ quote.url }}"><q>{{ quote.snippet|safe }}</q>
        &mdash; <cite>{{ quote.source }}</cite></a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
{% if missions|featured %}
<h2>Featured Missions</h2>
<ul class="featured">
{% for mission in missions|featured %}
  <li>{% include "homepage/_feature.html" %}</li>
{% endfor %}
</ul>
{% endif %}

{% if missions_coming_soon %}
<h2>Coming Soon (with your help)</h2>
<ul class="featured">
  {% for mission in missions_coming_soon %}
  <li>{% include "homepage/_feature.html" %}</li>
  {% endfor %}
</ul>
{% endif %}

{% if missions|featured:"False" %}
<h2>All Missions <span>(in chronological order)</span></h2>
<ul class="all">
{% for mission in missions %}
  <li>{% include "homepage/_mission.html" %}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}