# Used by global also
LogFormat "%{Host}i:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" spacelog

<VirtualHost *:8080>
	ServerName apollo13.spacelog.org
        # This is the default VHOST, so we don't have to add anything
        # else explicitly -- everything will run through here. (This
        # does mean that random other hostnames will get Apollo 13, which
        # is kind of at random. The alternative would be to rebuild this based
        # on the available missions, which is a drag. Or to change
        # `apps.transcripts.middleware.MissionMiddleware` to 404
        # instead of defaulting to Apollo 13.)
	
	Alias /assets /home/spacelog/assets/website

	DocumentRoot /var/www

	<Directory /home/spacelog>
		Options FollowSymLinks
                Require all granted
		AllowOverride None
	</Directory>

	<Directory /home/spacelog/assets/website>
                Require all granted
	</Directory>

        ProxyPass /assets/ !
        ProxyPass / http://localhost:8082/
        ProxyPassReverse / http://localhost:8082/
        ProxyPreserveHost On

	ErrorLog /var/log/apache2/spacelog.org/error.log
	LogLevel warn
	CustomLog /var/log/apache2/spacelog.org/access.log spacelog
</VirtualHost>
