{% extends "base.html" %}
{% load missiontime %}

{% block title %}About this site{% endblock %}
{% block body-class %}about-section{% endblock %}
{% block content-class %}about{% endblock %}
{% block content %}
  <h1>Based on the original transcript</h1>
  <div id='coverpage'>
    <a href='{% url original 1 %}'>
      <img src='/assets/missions/{{ mission.name }}/images/original/TEC/1.png'
           width='270' alt=''>
      View this page in the original transcript
    </a>
  </div>

{{ mission.copy.about|linebreaks }}
  
  <h2>How the site works</h2>
  <p>
The main textual content of this site comes from a transcript of radio communications between the crew and mission control; there are some limitations which stem from the original recordings.
</p>

<p>
Each line starts with a timestamp, in Ground Elapsed Time, which is the time (in days, hours, minutes and seconds) since lift off; photographs are shown inline at a suitable place. You can navigate through the transcript using the <a href='/phases/'>phases</a> of the mission, and key scenes within them, or search for <a href='/search/?q=reentry'>things that might interest you</a> using the box at the top of the page. While browsing through the transcript, there are also links that take you to the same place in the original typescript.
</p>

{% if mission.copy.call_signs %}
  <h3>Call signs</h3>

  {{ mission.copy.call_signs|safe|linebreaks }}
{% endif %}

  <h2>You can help</h2>
  <p>
This site can be improved, and you can help &mdash; whether by correcting remaining errors (although we hope there aren't many left), by adding more photos, or marking further glossary items. We would also be keen to talk to people about cleaning and converting transcripts and other information from other space missions, particularly for the early NASA missions in the Mercury, Gemini and Apollo programs, where <a href='#TODO'>transcripts are already available</a>.</p>
<p>All our code, and the transcript files, is available on <a href='http://github.com/devfort/artemis/'>github</a>, where there is information on how to contribute changes and new missions. (If you're up to it, you can also fork the repository, and issue a pull request to us when you're done.)</p>
  <p><a href='http://github.com/devfort/artemis/' class='big-blue-button-thing'>Find out how</a></p>
  
  <div id='how-this-was-made'>
    <div id='team'>
      <h2>The Team</h2>
      <h3>Product</h3><!-- Chiefs of the Astronaut Office -->
      <ul>
        <li><a href='http://russ.garrett.co.uk/'>Russ Garrett</a></li><li><a href='http://mattogle.com/'>Matthew Ogle</a></li>
      </ul>
      <h3>Design</h3><!-- Flight crew -->
      <ul>
        <li><a href='http://www.hannahdonovan.com/'>Hannah Donovan</a></li><li><a href='http://www.chrisgovias.com/'>Chris Govias</a></li><li><a href='http://uk.linkedin.com/in/gavinocarroll'>Gavin O'Carroll</a></li>
      </ul>
      <h3>Development</h3>
      <ul>
        <li><a href='http://rnalexander.wordpress.com/'>Ryan Alexander</a></li><!-- FLIGHT
         --><li><a href='http://tartarus.org/james/'>James Aylett</a></li><!-- CAPCOM
         --><li><a href='http://georgebrock.com/'>George Brocklehurst</a></li><!-- Engineering
         --><li><a href='http://www.absd.org/'>David Brownlee</a></li><!-- Guidance
         --><li><a href='http://benfirshman.com/'>Ben Firshman</a></li><!-- FLIGHT
         --><li><a href='http://marknormanfrancis.com/'>Mark Norman Francis</a></li><!-- Mission Director
         --><li><a href='http://www.aeracode.org/'>Andrew Godwin</a></li><!-- Engineering
          --><li><a href='http://nascentguruism.com/'>Steve Marshall</a></li><!-- FLIGHT -->
      </ul>
      <h3>Data cleanup</h3>
      <ul>
        {% for leon in mission.copy.cleaners %}<li>{{ leon }}</li>{% endfor %}
      </ul>
      <p>A <a href='http://devfort.com/'>/dev/fort</a> production; our work is available under the <a href='#TODO'>CC-0</a> licence.</p>
    </div>
    <div id='colophon'>
      <h2>Colophon</h2>
      <h3>Typeface</h3>
      <p><a href='http://kernest.com/league-gothic'>League Gothic</a></p>
      <h3>Icons</h3>
      <p>Joseph Wain of <a href='http://glyphish.com/'>glyphish.com</a></p>
      <h3>Images</h3>
      <ul>
          <li><a href='http://www.flickr.com/photos/28634332@N05/4252292720/'>Sunset over Earth</a> by <a href='http://www.nasa.gov/centers/marshall/home/index.html'>	
NASA's MSFC</a> (CC By-NC)</li>
        {% for image in mission.copy.image_attributions %}
          <li><a href='{{ image.url }}'>{{ image.title }}</a> by <a href='{{ image.attrib_url }}'>{{ image.attrib }}</a> ({{ image.license }})</li>
        {% endfor %}
      </ul>
      <p>Other images are from <a href='http://grin.hq.nasa.gov/'>NASA</a> and are in the public domain.</p>
    </div>
  </div>
{% endblock %}
