{% extends "base.html" %}
{% load missiontime %}
{% load linkify %}
{% load pauses %}

{% block title %}We are go{% endblock %}
{% block content-class %}homepage{% endblock %}
{% block content-extra %}style="background-image:url(/assets/missions/{{ mission.name }}/images/homepage/background.jpg);"{% endblock %}

{% block content %}
<div class='crest'>
<h1>{{ mission.upper_title }} <em>{{ mission.lower_title }}</em></h1>

{% if quote %}
<div id='homepage-quote'>
  <blockquote>
    <p>{{ quote.lines.0.1 }}</p>
  </blockquote>
  <i>
  <cite><a class='transcript' href="{% selection_url quote.timestamp %}">Read this moment</a></cite>
  <span> or </span>
  <a class='refresh' href='{% url homepage %}'>See another</a>
  </i>
</div>
{% endif %}
</div>

<h2>Jump into the story</h2>
<ol>
{% for number, act in acts %}
  <li>
    <a href='{% timestamp_to_url act.start %}'>
      <img src="/assets/missions/{{ mission.name }}/images/homepage/phase{{ number }}.jpg"
           alt="" width="220" height="140"/>
      Phase {{ number }}: {{ act.title }}
    </a>
  </li>
{% endfor %}
</ol>
{% endblock %}
