{% extends "base.html" %}
{% load missionstatic %}
{% load missiontime %}
{% load linkify %}
{% load pauses %}

{% block full_title %}{{ mission.title }} transcripts on Spacelog{% endblock %}
{% block content-class %}homepage{% endblock %}
{% block content-extra %}style="background:url({% mission_static mission.name "images/homepage/background.jpg" %}) top left no-repeat;"{% endblock %}

{% block content %}
<div class='crest'>
<h1>{{ mission.upper_title }} <em>{{ mission.lower_title }}</em></h1>

{% include "homepage/_quote.html" %}
</div>

<h2>Jump into the story</h2>
<ol>
{% for number, act in acts %}
  <li>
    {% ifequal 1 number %}
    <a href='{% url "view_page" %}'>
    {% else %}
    <a href='{% timestamp_to_url act.start %}'>
    {% endifequal %}
        {% if act.homepage %}
        <img src="{% mission_static mission.name "images/homepage" act.homepage %}"
           alt="" width="220" height="140"/>
        {% endif %}
      Phase {{ number }}: {{ act.title }}
    </a>
    {% if mission.other_transcripts %}
    <ul class='other-transcripts'>
      {% for transcript_id, transcript in mission.other_transcripts.items %}
      {% if 1 == number %}
      <li><a href='{% url "view_page" transcript=transcript.slug %}'>{{ transcript.name }}</a></li>
      {% else %}
      <li><a href='{% timestamp_to_url_in_transcript act.start transcript_id %}'>{{ transcript.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </li>
{% endfor %}
</ol>
{% endblock %}
