{% extends "base.html" %}
{% load missiontime %}
{% load linkify %}
{% load pauses %}

{% block title %}500 Rodger, this is Houston, hold 1 please.{% endblock %}
{% block content-class %}not_found{% endblock %}
{% block content %}
<h1><a href='{% selection_url 100818 %}'>We blew it.</a></h1>

<h2>500: Server error.</h2>

<p>Roger Aquarius, we are aware of the problem and our engineers are working on a solution.</p>

<p>Something has gone wrong on our end of things.  We will try to fix it as soon as possible.  In the meantime, why not browse the <a href='{% url view_page %}'>transcripts</a>?  Check out the classic <a href='{% selection_url 201335 %}'>"Houston, we've had a problem"</a> moment, or go back to the <a href='{% url homepage %}'>home page.</a></p>
{% endblock %}
