{% load static %}{% load missionstatic %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:dbo="http://dbpedia.org/ontology/abstract"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:space="http://spacelog.org/ns/"
      lang="en-us">
<head>
  <title>{% block full_title %}{% block title %}SET THE TITLE{% endblock %} &mdash; {{ mission.title }} on Spacelog{% endblock %}</title>
  {% block css-stylesheet %}
  <link rel="stylesheet" href="{% static "css/screen.css" %}" media="screen">
  {% endblock %}
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  {% block extra_head %}{% endblock %}
{% if mission %}
  {% block meta-description %}
  <meta name="description" property="og:description dbo:abstract" content="Read the original story of {{ mission.title }}: {{ mission.description }}">
  {% endblock %}
  <meta property="og:title dc:title" content="{{ mission.title }}">
  <meta property="og:type" content="space:MannedMission">
  <link rel="rdfs:type" resource="http://spacelog.org/ns/MannedMission">
  <meta property="og:url foaf:homepage" content="https://{{ request.get_host }}/">
  <meta property="og:image" content="{% digest_free_mission_static mission.name "images/badge.png" %}">
  <link property="foaf:depiction" href="{% digest_free_mission_static mission.name "images/badge.png" %}">
  {% comment %}
      foaf:depiction and og:image are being repeated as separate properties because the Open Graph Protocol
      is misusing RDFa slightly: in RDFa, the content attribute is used to represent literals (strings basically).
      if you want to use a URI reference as the object, RDFa says you should use the href attribute.
      one could combine all these together into one uber-element that has property, rel, content and href
      but authors might not understand this in the same way.
      see https://github.com/tommorris/Spacelog/commit/2850e1c71b94a92834cd27022c3dcee792e6787d
  {% endcomment %}
  <meta property="og:site_name" content="Spacelog">
  <!-- <meta property="og:description"
        content="{{ mission.title|escape }}: {{ mission.description|escape }}"> -->
  <meta property="fb:admins" content="36916129">
{% endif %}
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19974863-1']);
  _gaq.push(['_setDomainName', '.spacelog.org']);
  _gaq.push(['_trackPageview']);
   </script>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class='{% block body-class %}{% endblock %}'>

{% block masthead %}
{% include "_base/masthead.html" %}
{% endblock %}

{% block crest %}{% endblock %}

<div id='content' class='{% block content-class %}{% endblock %}' {% block content-extra %}{% endblock %}><div class="wrapper">
{% block content %}{% endblock %}
</div></div>

<script type="text/javascript">
window.Artemis = {
  assets: {
    spinner: "{% static "img/ajax-loader.gif" %}",
    spinnerWhite: "{% static "img/ajax-loader-white.gif" %}"
  }
};
</script>
<script type="text/javascript" src="{% static "js/jquery-1.4.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-1.8.6.just-animations.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.placeholder.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/global.js" %}"></script>
{% block extra_js %}{% endblock %}
<script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
