<!DOCTYPE html>
<html>
<head>
  <title>{{ mission.title }} {% block title %}SET THE TITLE{% endblock %}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" media="screen">
</head>
<body class='{% block body-class %}{% endblock %}'>

{% block masthead %}
{% include "_base/masthead.html" %}
{% endblock %}

{% block crest %}{% endblock %}

<div id='content' class='{% block content-class %}{% endblock %}' {% block content-extra %}{% endblock %}><div class="wrapper">
{% block content %}{% endblock %}
</div></div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.6.just-animations.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>
{% block extra_js %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19974863-1']);
  _gaq.push(['_setDomainName', '.spacelog.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
