<!DOCTYPE html>
<html>
<head>
  <title>{{ mission.title }} {% block title %}SET THE TITLE{% endblock %}</title>
  <link rel="stylesheet" href="/assets/css/screen.css" media="screen">
</head>
<body>

{% block masthead %}
{% include "_base/masthead.html" %}
{% endblock %}

{% block crest %}{% endblock %}

<div id='content' class='{% block content-class %}{% endblock %}' {% block content-extra %}{% endblock %}><div class="wrapper">
{% block content %}{% endblock %}
</div></div>

<script type="text/javascript" src="/assets/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.color-1.0.js"></script>
<script type="text/javascript" src="/assets/js/underscore-min.js"></script>
<script type="text/javascript" src="/assets/js/backbone.js"></script>
<script type="text/javascript" src="/assets/js/global.js"></script>
</body>
</html>
