{% extends "base.html" %}

{% block title %}About Spacelog{% endblock %}

{% block content-class %}content-page about{% endblock %}

{% block abstract %}
<h1>About Spacelog</h1>

<p class="rubric">
  Spacelog is a volunteer project to bring to life early manned space flight.
</p>
{% include "_base/stl.html" %}
{% endblock %}

{% block primary-content %}

<div class="content">
  <h2>What is Spacelog?</h2>
  <p>On 12th of April 1961, 27 year old Soviet cosmonaut Yuri Gagarin became the first man to orbit the earth, in Vostok 1. Less than a month later, America launched its first manned spaceflight, the suborbital Mercury-Redstone 3, with Alan Shepherd becoming the first American astronaut.
  In the years that followed, these historical achievments were followed by many others, culminating on the 21st of July 1969 when Neil Armstrong become the first person to set foot on the Moon.
  </p>
  <p>
    In fifty years since mankind began to explore in person the universe outside our home planet, there have been many memorable moments, of beauty, of bravery, and occasionally of tragedy. For those who did not live through them it is sometimes difficult to appreciate the excitement of these early flights. Spacelog aims to bring those missions back to life: a website for exploring manned space missions through transcripts of conversations from during the flights between those in space and those back on the ground, and from photography taken at the time.{% comment %} We're also working on including audio and video as it becomes available.{% endcomment %}
  </p>
  <p>
    To date there have been <a href='http://en.wikipedia.org/wiki/List_of_human_spaceflights'>over two hundred human spaceflight missions</a>. Only a small number of these are currently available on Spacelog, although we'd be delighted for assistance in getting more up and alive.
  </p>

  <h2>The team behind Spacelog</h2>
  <p>
    Spacelog is an entirely volunteer effort. The original work was done by a team of thirteen, producing two missions; since then other people from around the internet have got involved, whether reading through the transcripts with a careful eye looking for subtle errors, or preparing new missions for release on the web.
  </p>
  <h3>The original team</h3>
  <ul class='contributors'>
    <li><!-- Chiefs of the Astronaut Office (product) --><a href='http://russ.garrett.co.uk/'>Russ&nbsp;Garrett</a></li><li><a href='http://mattogle.com/'>Matthew&nbsp;Ogle</a></li><!-- Flight crew (design)
 --><li><a href='http://www.hannahdonovan.com/'>Hannah&nbsp;Donovan</a></li><li><a href='http://www.chrisgovias.com/'>Chris&nbsp;Govias</a></li><li><a href='http://gavinocarroll.com/'>Gavin&nbsp;O'Carroll</a></li><!-- Tech
 --><li><a href='http://rnalexander.wordpress.com/'>Ryan&nbsp;Alexander</a></li><!-- FLIGHT
 --><li><a href='http://tartarus.org/james/'>James&nbsp;Aylett</a></li><!-- CAPCOM
 --><li><a href='http://georgebrock.com/'>George&nbsp;Brocklehurst</a></li><!-- Engineering
 --><li><a href='http://www.absd.org/'>David&nbsp;Brownlee</a></li><!-- Guidance
 --><li><a href='http://benfirshman.com/'>Ben&nbsp;Firshman</a></li><!-- FLIGHT
 --><li><a href='http://marknormanfrancis.com/'>Mark&nbsp;Norman&nbsp;Francis</a></li><!-- Mission Director
 --><li><a href='http://www.aeracode.org/'>Andrew&nbsp;Godwin</a></li><!-- Engineering
 --><li><a href='http://nascentguruism.com/'>Steve&nbsp;Marshall</a></li><!-- FLIGHT -->
  </ul>
  <h3>Contributors</h3>
  <ul class='contributors'><!--
 --><li>Palmer&nbsp;Dabbelt</li><!--
 --><li>Peter&nbsp;Dufault</li><!--
 --><li>David&nbsp;Ginsberg</li><!--
 --><li><a href='http://pkqk.net'>Adam&nbsp;Johnson</a></li><!--
 --><li>Tim&nbsp;Hatch</li><!--
 --><li>Nathaniel&nbsp;Hine</li><!--
 --><li>Jeff&nbsp;Hlywa</li><!--
 --><li>Benjamin&nbsp;Levine</li><!--
 --><li>Steve&nbsp;Midgley</li><!--
 --><li><a href='http://tommorris.org'>Tom&nbsp;Morris</a></li><!--
 --><li>Dananjaya&nbsp;Ramanayke</li><!--
 --><li>Greg&nbsp;Roodt</li><!--
 --><li><a href='http://www.dracos.co.uk'>Matthew&nbsp;Somerville</a></li><!--
 --><li><a href='http://stumm.ca/'>Christopher&nbsp;Stumm</a></li><!--
 --><li>Jeff&nbsp;Venverloh</li><!--
 --><li>Jeremy&nbsp;Weatherford</li><!--
 --><li>Sophie&nbsp;Welles</li><!--
 --><li>Trent&nbsp;VanDenBerghe</li>
  </ul>
  <h2>Made in a fort</h2>
  <p>
    Yes, you read that right. Spacelog is a <a href='http://devfort.com/'>/dev/fort</a> project, meaning that the initial work was done in a week in isolation in a fort: <a href=''>Fort Clonque</a> on the island of Alderney off the French coast. For six days we lived and worked together, spending most of our time in two communal rooms with a coal fire going most of the time. We cooked, ate and occasionally got covered in soot, and we designed and implemented the first version of Spacelog, including our first two missions: <a href='http://mercury6.spacelog.org/'>Mercury-Atlas 6</a> and <a href='http://apollo13.spacelog.org/'>Apollo 13</a>.
  </p>
</div>
{% endblock %}
