{% extends "base.html" %}
{% load static %}

{% block title %}Getting Involved with Spacelog{% endblock %}

{% block content-class %}content-page get-involved{% endblock %}


{% block content %}
<h1>Getting Involved</h1>

<p class="rubric">
  Spacelog is a volunteer project that anyone can contribute to.
</p>
{% include "_base/stl.html" %}

<div class='primary-content'>
<div class="content">
  <h2>Help transcribe a new mission</h2>
  <p>The easiest way to contribute to Spacelog is by helping to transcribe new missions using Kallisto, our online transcription tool. Transcribing a page or two only takes a few minutes, and you can do as much or as little as you like.</p>

  <p><a href="http://kallisto.tartarus.org" class="call-to-action">Start transcribing now</a></p>

  <h2>Get more involved</h2>
  <p>Beyond transcribing pages for new missions, there are a whole bundle of different tasks that people can help out on, from the very small (such as noticing and pointing out a problem with a transcription of a particular mission) up to the fairly large (identifying which CAPCOM was on shift at what time during a mission). Along the way there are jobs involving writing new material (biographies, descriptions of key moments and phases, and so on), selecting images for use in missions (and possibly cropping or preparing them in Photoshop), and if you're a programmer you can get hold of <a href='http://github.com/Spacelog/Spacelog/'>the source code behind the site</a>, and help us out in developing it further.</p>
  <p>In general, the first step in getting involved is simply to tell us you're around and interested. Drop an email to the <a href="mailto:spacelog@googlegroups.com">spacelog@googlegroups.com</a> mailing list, and ask any questions you need to get started. If you use IRC, we tend to hang out on <a href="irc://irc.freenode.net/#spacelog">#spacelog</a>, which can be more useful if you need to ask a number of related questions. In the meantime, hopefully the information on this page will be a helpful starting point &mdash; but if not, please point out how we can make things clearer and easier to get involved.</p>

  <h2>Pointing out mistakes</h2>
  <p>For NASA missions, the transcripts we work from were prepared in the 60s and 70s; from there, they've been scanned, converted to text, and then cleaned up by Spacelog volunteers. At each step in the process, small errors may have crept in, so if you notice anything that's wrong, and particularly if you notice a difference between the Spacelog transcripts and the original transcripts (linked from each page of a mission), just drop us a line at the email address above and we'll look into it. It helps a lot if you can supply not only the line (either a link, or by the timestamp displayed at the start, the <acronym title='Ground Elapsed Time'>GET</acronym>) but also what it should be.</p>
</div>
</div>

<div class='secondary-content'>
  {% comment %}
  Could use a figure, but that would involve the IE shim in order to style it properly
  {% endcomment %}
  <img src='{% static "img/transcripts-pile.png" %}' width='300' height='434'>
  <p>
    Much of the content for Spacelog comes from original transcripts of audio recordings in the 1960s and 1970s. Our volunteers help convert and clean up these transcripts, or create new ones from the original audio.
  </p>
</div>

</div>
{% endblock %}
