{% extends "base.html" %}

{% block title %}Spacelog Press{% endblock %}

{% block content-class %}content-page press{% endblock %}

{% block abstract %}
<h1>Some people have said nice things&hellip;</h1>

<p class="rubric">
  From Twitter to the mainstream press, we've picked up some compliments.
</p>
{% endblock %}

{% block primary-content %}

<div class="content">
  
  <blockquote><p>A must-visit site for space enthusiasts</p></blockquote>
  <p>&mdash;<cite><a href="http://www.komando.com/coolsites/">Kim Komando Cool Site of the Day</a>, 11th April 2011</cite></p>
  
  <blockquote><p>Spacelog is awesome.</p></blockquote>
  <p>&mdash;<cite><a href="http://www.rockpapershotgun.com/2010/12/05/the-sunday-papers-148/">Rock Paper, Shotgun</a>, 5th December 2010</cite></p>

  <blockquote><p>This is the kind of historical documentation and access that reminds us of why the internet is so, insanely awesome.</p></blockquote>
  <p>&mdash;<cite><a href="http://www.engadget.com/2010/12/02/spacelog-provides-fascinating-searchable-text-transcripts-for-na/">Engadget</a>, 2nd December 2010</cite></p>

  <blockquote><p>&hellip;highly addictive&hellip;</p></blockquote>
  <p>&mdash;<cite><a href="http://www.huffingtonpost.com/2010/12/02/spacelogorg-nasa-mission-transcripts_n_790735.html">The Huffington Post</a>, 2nd December 2010</cite></p>
  
  <blockquote><p>[Spacelog] is the best thing ever on the internet!</p></blockquote>
  <p>&mdash;<cite><a href="http://twitter.com/moleitau/status/9930034542288896">Matt Jones</a>, 1st December 2010</cite></p>

  <blockquote><p>Wonderful stuff.</p></blockquote>
  <p>&mdash;<cite><a href="http://kottke.org/10/12/spacelog">Jason Kottke</a>, 1st December 2010</cite></p>

  <blockquote><p>I absolutely love this. Spacelog.org is taking the radio transcripts from NASA missions, pairing them with great graphic design, and making the whole thing searchable and linkable. The result: A delightfully immersive perspective on history.</p></blockquote>
  <p>&mdash;<cite><a href="http://www.boingboing.net/2010/12/01/an-interactive-histo.html">Boing Boing</a>, 1st December 2010</cite></p>
  
  <blockquote>
    <p>
      If this isn’t making content meaningful, accessible (in a traditional sense), and enjoyable to consume, I don’t know what is.
    </p>
  </blockquote>
  <p>&mdash;<cite><a href="http://cameronmoll.tumblr.com/post/2060251631/spacelog">Cameron Moll</a>, 1st December 2010</cite></p>

  <p>If you're writing a story about any of the missions we cover, or about Spacelog itself, feel free to get in touch with us at <a href='mailto:spacelog@googlegroups.com'>spacelog@googlegroups.com</a>.</p>

</div>
{% endblock %}
