{% extends "base.html" %}

{% block title %}Spacelog Press{% endblock %}

{% block content-class %}content-page press{% endblock %}

{% block content %}
<h1>Some people have said nice things&hellip;</h1>

<p class="rubric">
  Everyone&rsquo;s been so lovely, we thought we&rsquo;d share some of the things they&rsquo;ve said.
</p>
{% include "_base/stl.html" %}

<div class='primary-content'>
<div class="content">
  <blockquote><p>A must-visit site for space enthusiasts.</p></blockquote>
  <p><cite><a href="http://www.komando.com/coolsites/index.aspx?id=10587">Kim Komando Cool Site of the Day (11 Apr, 2011)</a></cite></p>
  
  <blockquote><p>Spacelog is awesome.</p></blockquote>
  <p><cite><a href="http://www.rockpapershotgun.com/2010/12/05/the-sunday-papers-148/">Rock Paper, Shotgun (5 Dec, 2010)</a></cite></p>

  <blockquote><p>This is the kind of historical documentation and access that reminds us of why the internet is so, insanely awesome.</p></blockquote>
  <p><cite><a href="http://www.engadget.com/2010/12/02/spacelog-provides-fascinating-searchable-text-transcripts-for-na/">Engadget (2 Dec, 2010)</a></cite></p>

  <blockquote><p>&hellip;highly addictive&hellip;</p></blockquote>
  <p><cite><a href="http://www.huffingtonpost.com/2010/12/02/spacelogorg-nasa-mission-transcripts_n_790735.html">The Huffington Post (2 Dec, 2010)</a></cite></p>
  
  <blockquote><p>[Spacelog] is the best thing ever on the internet!</p></blockquote>
  <p><cite><a href="http://twitter.com/moleitau/status/9930034542288896">Matt Jones (1 Dec, 2010)</a></cite></p>

  <blockquote><p>Wonderful stuff.</p></blockquote>
  <p><cite><a href="http://kottke.org/10/12/spacelog">Jason Kottke (1 Dec, 2010)</a></cite></p>

  <blockquote><p>I absolutely love this. Spacelog.org is taking the radio transcripts from NASA missions, pairing them with great graphic design, and making the whole thing searchable and linkable. The result: A delightfully immersive perspective on history.</p></blockquote>
  <p><cite><a href="http://www.boingboing.net/2010/12/01/an-interactive-histo.html">Boing Boing (1 Dec, 2010)</a></cite></p>
  
  <blockquote>
    <p>If this isn’t making content meaningful, accessible (in a traditional sense), and enjoyable to consume, I don’t know what is.</p>
  </blockquote>
  <p><cite><a href="http://cameronmoll.tumblr.com/post/2060251631/spacelog">Cameron Moll (1 Dec, 2010)</a></cite></p>
</div>
</div>

<div class='secondary-content'>
  <h1>Journalists</h1>

  <p>Writing a story, article or blog post? Get in touch with us via our <a href='mailto:spacelog@googlegroups.com'>Google Group</a>. We would be happy to chat with you about any of the missions we cover or about Spacelog itself.</p>

  <h1>Speaking &amp; Writing</h1>

  <p>We&rsquo;re always keen to talk about Spacelog and the unique process behind it. Particularly if you&rsquo;re in or around the London area, and would like a member or two from the Spacelog team to speak at your event, please get in touch. We&rsquo;ve spoken about the project at <a href='http://oxford.geeknights.net/2011/feb-9th/'>Oxford Geek Nights</a> &amp; <a href='http://huffduffer.com/skillswap/38756'>Brighton Skillswap</a>, and written about it for <a href='http://24ways.org/2010/extreme-design'>24Ways</a>.</p>
</div>

</div>
{% endblock %}
