{% extends "base.html" %}

{% block title %}Spacelog Press{% endblock %}

{% block content-class %}content-page press{% endblock %}

{% block content %}
<h1>Some people have said nice things&hellip;</h1>

<p class="rubric">
  Everyone&rsquo;s been so lovely, we thought we&rsquo;d share some of the things they&rsquo;ve said.
</p>
{% include "_base/stl.html" %}

<div class='primary-content'>
<div class="content">
  {% for thing in NICE_THINGS %}
  <blockquote><p>{{ thing.quote|safe }}</p></blockquote>
  <p><cite><a href="{{ thing.url }}">{{ thing.source }} ({{ thing.date }})</a></cite></p>
  {% endfor %}
</div>
</div>

<div class='secondary-content'>
  <h1>Journalists</h1>

  <p>Writing a story, article or blog post? Get in touch with us via our <a href='mailto:spacelog@googlegroups.com'>Google Group</a>. We would be happy to chat with you about any of the missions we cover or about Spacelog itself.</p>

  <h1>Speaking &amp; Writing</h1>

  <p>We&rsquo;re always keen to talk about Spacelog and the unique process behind it. Particularly if you&rsquo;re in or around the London area, and would like a member or two from the Spacelog team to speak at your event, please get in touch. We&rsquo;ve spoken about the project at <a href='http://oxford.geeknights.net/2011/feb-9th/'>Oxford Geek Nights</a> &amp; <a href='http://huffduffer.com/skillswap/38756'>Brighton Skillswap</a>, and written about it for <a href='http://24ways.org/2010/extreme-design'>24Ways</a>.</p>
</div>

</div>
{% endblock %}
